<launch>
  <!-- ===================== 中期展示统一调参区 ===================== -->

  <!-- 运行开关 -->
  <arg name="use_rviz" default="false"/>
  <arg name="use_control" default="false"/>
  <arg name="auto_goal" default="true"/>
  <arg name="astar_only" default="false"/>
  <arg name="show_local_traj" default="true"/>
  <arg name="show_whole_traj" default="true"/>
  <arg name="enable_local_replan" default="false"/>
  <arg name="enable_periodic_replan" default="false"/>
  <arg name="optimize_direct_astar" default="false"/>

  <!-- 仿真起点和固定目标点 -->
  <arg name="init_x" default="-18.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="0.0"/>
  <arg name="goal_x" default="0.0"/>
  <arg name="goal_y" default="0.0"/>
  <arg name="goal_z" default="0.0"/>
  <arg name="fixed_goal_delay" default="4.0"/>
  <arg name="fixed_goal_repeat" default="1"/>
  <arg name="fixed_goal_interval" default="1.0"/>

  <!-- 地图、感知和一次性搜索范围 -->
  <arg name="map_size_x" default="44.0"/>
  <arg name="map_size_y" default="18.0"/>
  <arg name="map_size_z" default="3.0"/>
  <arg name="planning_horizon" default="18.5"/>
  <arg name="sensing_horizon" default="22.0"/>
  <arg name="local_update_range_x" default="22.0"/>
  <arg name="local_update_range_y" default="9.0"/>
  <arg name="local_update_range_z" default="4.5"/>
  <arg name="max_ray_length" default="22.0"/>
  <arg name="astar_pool_size_x" default="240"/>
  <arg name="astar_pool_size_y" default="140"/>
  <arg name="astar_pool_size_z" default="50"/>
  <arg name="obstacle_scenario" default="midterm_global"/>

  <!-- 运动学/动力学约束，跳跃速度慢时优先调 max_vel、max_acc 和 direct_astar_* -->
  <arg name="max_vel" default="3.6"/>
  <arg name="max_acc" default="5.5"/>
  <arg name="traj_server_time_forward" default="1.0"/>
  <arg name="traj_server_physical_time_scale" default="1.0"/>

  <!-- direct A* 到 B-spline 的时间和形状参数 -->
  <arg name="direct_astar_sample_dist" default="0.8"/>
  <arg name="direct_astar_smooth_iter" default="2"/>
  <arg name="direct_astar_smooth_weight" default="0.45"/>
  <arg name="direct_astar_jump_clearance" default="0.25"/>
  <arg name="direct_astar_time_scale" default="1.00"/>
  <arg name="direct_astar_vel_dt_weight" default="1.0"/>
  <arg name="direct_astar_acc_dt_weight" default="0.45"/>
  <arg name="direct_astar_roll_sample_dist" default="0.35"/>
  <arg name="direct_astar_jump_sample_dist" default="0.20"/>
  <arg name="direct_astar_jump_anchor_repeat" default="1"/>
  <arg name="direct_astar_roll_anchor_repeat" default="2"/>
  <arg name="direct_astar_mode_time_allocation" default="false"/>
  <arg name="direct_astar_roll_time_scale" default="1.2"/>
  <arg name="direct_astar_jump_time_scale" default="1.0"/>
  <arg name="direct_astar_jump_speed" default="2.8"/>
  <arg name="direct_astar_min_dt" default="0.04"/>
  <arg name="direct_astar_time_realloc_max_iter" default="1"/>
  <arg name="direct_astar_allow_jump_impulse" default="true"/>
  <arg name="direct_astar_roll_interpolate_z" default="false"/>

  <!-- ROLL / JUMP 混合 A* 决策参数 -->
  <arg name="astar_test_wall" default="true"/>
  <arg name="astar_test_scene" default="midterm_global"/>
  <arg name="astar_height" default="0.0"/>
  <arg name="roll_over_height" default="0.15"/>
  <arg name="roll_over_penalty" default="0.5"/>
  <arg name="max_jump_h" default="0.72"/>
  <arg name="max_jump_d" default="2.0"/>
  <arg name="jump_penalty" default="5.5"/>
  <arg name="jump_takeoff_clearance" default="0.45"/>
  <arg name="jump_landing_clearance" default="0.50"/>
  <arg name="jump_vertical_clearance" default="0.16"/>
  <arg name="line_deviation_weight" default="0.45"/>
  <arg name="max_line_deviation" default="2.6"/>
  <arg name="frontal_jump_cos" default="0.80"/>
  <arg name="jumpable_detour_penalty" default="5.0"/>
  <arg name="use_inflate_for_jump" default="false"/>
  <arg name="debug_decisions" default="false"/>
  <arg name="debug_decision_limit" default="120"/>

  <!-- 可视化/话题/相机内参，通常不需要改 -->
  <arg name="odom_topic" default="/visual_slam/odom"/>
  <arg name="whole_traj_sample_step" default="0.05"/>
  <arg name="waypoint_type" default="manual-lonely-waypoint"/>
  <arg name="flight_type" default="1"/>
  <arg name="camera_cx" default="321.04638671875"/>
  <arg name="camera_cy" default="243.44969177246094"/>
  <arg name="camera_fx" default="387.229248046875"/>
  <arg name="camera_fy" default="387.229248046875"/>

  <!-- =================== 下方为节点连接区，通常不用改 =================== -->

  <include file="$(find ego_planner)/launch/advanced_param.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>

    <arg name="camera_pose_topic" value="/pcl_render_node/camera_pose"/>
    <arg name="depth_topic" value="/pcl_render_node/depth"/>
    <arg name="cloud_topic" value="/pcl_render_node/cloud"/>

    <arg name="cx" value="$(arg camera_cx)"/>
    <arg name="cy" value="$(arg camera_cy)"/>
    <arg name="fx" value="$(arg camera_fx)"/>
    <arg name="fy" value="$(arg camera_fy)"/>

    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="planning_horizon" value="$(arg planning_horizon)"/>
    <arg name="flight_type" value="$(arg flight_type)"/>
    <arg name="astar_only" value="$(arg astar_only)"/>
    <arg name="show_local_traj" value="$(arg show_local_traj)"/>
    <arg name="show_whole_traj" value="$(arg show_whole_traj)"/>
    <arg name="whole_traj_sample_step" value="$(arg whole_traj_sample_step)"/>
    <arg name="enable_local_replan" value="$(arg enable_local_replan)"/>
    <arg name="enable_periodic_replan" value="$(arg enable_periodic_replan)"/>
    <arg name="optimize_direct_astar" value="$(arg optimize_direct_astar)"/>
    <arg name="direct_astar_sample_dist" value="$(arg direct_astar_sample_dist)"/>
    <arg name="direct_astar_smooth_iter" value="$(arg direct_astar_smooth_iter)"/>
    <arg name="direct_astar_smooth_weight" value="$(arg direct_astar_smooth_weight)"/>
    <arg name="direct_astar_jump_clearance" value="$(arg direct_astar_jump_clearance)"/>
    <arg name="direct_astar_time_scale" value="$(arg direct_astar_time_scale)"/>
    <arg name="direct_astar_vel_dt_weight" value="$(arg direct_astar_vel_dt_weight)"/>
    <arg name="direct_astar_acc_dt_weight" value="$(arg direct_astar_acc_dt_weight)"/>
    <arg name="direct_astar_roll_sample_dist" value="$(arg direct_astar_roll_sample_dist)"/>
    <arg name="direct_astar_jump_sample_dist" value="$(arg direct_astar_jump_sample_dist)"/>
    <arg name="direct_astar_jump_anchor_repeat" value="$(arg direct_astar_jump_anchor_repeat)"/>
    <arg name="direct_astar_roll_anchor_repeat" value="$(arg direct_astar_roll_anchor_repeat)"/>
    <arg name="direct_astar_mode_time_allocation" value="$(arg direct_astar_mode_time_allocation)"/>
    <arg name="direct_astar_roll_time_scale" value="$(arg direct_astar_roll_time_scale)"/>
    <arg name="direct_astar_jump_time_scale" value="$(arg direct_astar_jump_time_scale)"/>
    <arg name="direct_astar_jump_speed" value="$(arg direct_astar_jump_speed)"/>
    <arg name="direct_astar_min_dt" value="$(arg direct_astar_min_dt)"/>
    <arg name="direct_astar_time_realloc_max_iter" value="$(arg direct_astar_time_realloc_max_iter)"/>
    <arg name="direct_astar_allow_jump_impulse" value="$(arg direct_astar_allow_jump_impulse)"/>
    <arg name="direct_astar_roll_interpolate_z" value="$(arg direct_astar_roll_interpolate_z)"/>
    <arg name="local_update_range_x" value="$(arg local_update_range_x)"/>
    <arg name="local_update_range_y" value="$(arg local_update_range_y)"/>
    <arg name="local_update_range_z" value="$(arg local_update_range_z)"/>
    <arg name="max_ray_length" value="$(arg max_ray_length)"/>
    <arg name="astar_pool_size_x" value="$(arg astar_pool_size_x)"/>
    <arg name="astar_pool_size_y" value="$(arg astar_pool_size_y)"/>
    <arg name="astar_pool_size_z" value="$(arg astar_pool_size_z)"/>

    <arg name="point_num" value="1"/>
    <arg name="point0_x" value="$(arg goal_x)"/>
    <arg name="point0_y" value="$(arg goal_y)"/>
    <arg name="point0_z" value="$(arg goal_z)"/>
    <arg name="point1_x" value="0.0"/>
    <arg name="point1_y" value="0.0"/>
    <arg name="point1_z" value="1.0"/>
    <arg name="point2_x" value="0.0"/>
    <arg name="point2_y" value="0.0"/>
    <arg name="point2_z" value="1.0"/>
    <arg name="point3_x" value="0.0"/>
    <arg name="point3_y" value="0.0"/>
    <arg name="point3_z" value="1.0"/>
    <arg name="point4_x" value="0.0"/>
    <arg name="point4_y" value="0.0"/>
    <arg name="point4_z" value="1.0"/>
  </include>

  <param name="/ego_planner_node/manager/astar_test_wall" value="$(arg astar_test_wall)" type="bool"/>
  <param name="/ego_planner_node/manager/astar_test_scene" value="$(arg astar_test_scene)" type="str"/>
  <param name="/ego_planner_node/manager/astar_height" value="$(arg astar_height)" type="double"/>
  <param name="/ego_planner_node/planner/max_line_deviation" value="$(arg max_line_deviation)" type="double"/>
  <param name="/ego_planner_node/planner/max_jump_h" value="$(arg max_jump_h)" type="double"/>
  <param name="/ego_planner_node/planner/jump_penalty" value="$(arg jump_penalty)" type="double"/>
  <param name="/ego_planner_node/planner/max_jump_d" value="$(arg max_jump_d)" type="double"/>
  <param name="/ego_planner_node/planner/jump_takeoff_clearance" value="$(arg jump_takeoff_clearance)" type="double"/>
  <param name="/ego_planner_node/planner/jump_landing_clearance" value="$(arg jump_landing_clearance)" type="double"/>
  <param name="/ego_planner_node/planner/jump_vertical_clearance" value="$(arg jump_vertical_clearance)" type="double"/>
  <param name="/ego_planner_node/planner/line_deviation_weight" value="$(arg line_deviation_weight)" type="double"/>
  <param name="/ego_planner_node/planner/frontal_jump_cos" value="$(arg frontal_jump_cos)" type="double"/>
  <param name="/ego_planner_node/planner/jumpable_detour_penalty" value="$(arg jumpable_detour_penalty)" type="double"/>
  <param name="/ego_planner_node/planner/roll_over_height" value="$(arg roll_over_height)" type="double"/>
  <param name="/ego_planner_node/planner/roll_over_penalty" value="$(arg roll_over_penalty)" type="double"/>
  <param name="/ego_planner_node/planner/debug_decisions" value="$(arg debug_decisions)" type="bool"/>
  <param name="/ego_planner_node/planner/debug_decision_limit" value="$(arg debug_decision_limit)" type="int"/>
  <param name="/ego_planner_node/planner/use_inflate_for_jump" value="$(arg use_inflate_for_jump)" type="bool"/>

  <group unless="$(arg astar_only)">
    <node pkg="ego_planner" name="traj_server" type="traj_server" output="screen">
      <remap from="/position_cmd" to="planning/pos_cmd"/>
      <remap from="/odom_world" to="$(arg odom_topic)"/>
      <param name="traj_server/time_forward" value="$(arg traj_server_time_forward)" type="double"/>
      <param name="traj_server/physical_time_scale" value="$(arg traj_server_physical_time_scale)" type="double"/>
    </node>
  </group>

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~goal" to="/move_base_simple/goal"/>
    <remap from="~traj_start_trigger" to="/traj_start_trigger"/>
    <param name="waypoint_type" value="$(arg waypoint_type)"/>
  </node>

  <include file="$(find ego_planner)/launch/low_obstacle_simulator.xml">
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="use_control" value="$(arg use_control)"/>
    <arg name="obstacle_scenario" value="$(arg obstacle_scenario)"/>
    <arg name="sensing_horizon" value="$(arg sensing_horizon)"/>
  </include>

  <group if="$(arg auto_goal)">
    <node pkg="ego_planner" name="publish_fixed_goal" type="publish_fixed_goal.py" output="screen">
      <param name="goal_x" value="$(arg goal_x)"/>
      <param name="goal_y" value="$(arg goal_y)"/>
      <param name="goal_z" value="$(arg goal_z)"/>
      <param name="delay" value="$(arg fixed_goal_delay)"/>
      <param name="repeat" value="$(arg fixed_goal_repeat)"/>
      <param name="interval" value="$(arg fixed_goal_interval)"/>
    </node>
  </group>

  <group if="$(arg use_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="false"/>
  </group>
</launch>
