<launch>
  <arg name="map_size_x" default="44.0"/>
  <arg name="map_size_y" default="18.0"/>
  <arg name="map_size_z" default="3.0"/>
  <arg name="planning_horizon" default="18.5"/>
  <arg name="odom_topic" default="/visual_slam/odom"/>
  <arg name="use_rviz" default="false"/>
  <arg name="auto_goal" default="true"/>
  <arg name="astar_only" default="false"/>
  <arg name="use_control" default="false"/>
  <arg name="goal_x" default="0.0"/>
  <arg name="goal_y" default="0.0"/>
  <arg name="goal_z" default="0.0"/>
  <arg name="show_local_traj" default="true"/>
  <arg name="show_whole_traj" default="true"/>
  <arg name="whole_traj_sample_step" default="0.05"/>
  <arg name="enable_local_replan" default="false"/>
  <arg name="enable_periodic_replan" default="false"/>
  <arg name="optimize_direct_astar" default="false"/>
  <arg name="direct_astar_sample_dist" default="0.8"/>
  <arg name="direct_astar_smooth_iter" default="2"/>
  <arg name="direct_astar_smooth_weight" default="0.45"/>
  <arg name="direct_astar_jump_clearance" default="0.25"/>
  <arg name="direct_astar_time_scale" default="1.10"/>
  <arg name="max_vel" default="3.6"/>
  <arg name="max_acc" default="5.5"/>
  <arg name="sensing_horizon" default="22.0"/>
  <arg name="local_update_range_x" default="22.0"/>
  <arg name="local_update_range_y" default="9.0"/>
  <arg name="local_update_range_z" default="4.5"/>
  <arg name="max_ray_length" default="22.0"/>
  <arg name="astar_pool_size_x" default="240"/>
  <arg name="astar_pool_size_y" default="140"/>
  <arg name="astar_pool_size_z" default="50"/>

  <include file="$(find ego_planner)/launch/advanced_param.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>

    <arg name="camera_pose_topic" value="/pcl_render_node/camera_pose"/>
    <arg name="depth_topic" value="/pcl_render_node/depth"/>
    <arg name="cloud_topic" value="/pcl_render_node/cloud"/>

    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>

    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="planning_horizon" value="$(arg planning_horizon)"/>
    <arg name="flight_type" value="1"/>
    <arg name="astar_only" value="$(arg astar_only)"/>
    <arg name="show_local_traj" value="$(arg show_local_traj)"/>
    <arg name="show_whole_traj" value="$(arg show_whole_traj)"/>
    <arg name="whole_traj_sample_step" value="$(arg whole_traj_sample_step)"/>
    <arg name="enable_local_replan" value="$(arg enable_local_replan)"/>
    <arg name="enable_periodic_replan" value="$(arg enable_periodic_replan)"/>
    <arg name="optimize_direct_astar" value="$(arg optimize_direct_astar)"/>
    <arg name="direct_astar_sample_dist" value="$(arg direct_astar_sample_dist)"/>
    <arg name="direct_astar_smooth_iter" value="$(arg direct_astar_smooth_iter)"/>
    <arg name="direct_astar_smooth_weight" value="$(arg direct_astar_smooth_weight)"/>
    <arg name="direct_astar_jump_clearance" value="$(arg direct_astar_jump_clearance)"/>
    <arg name="direct_astar_time_scale" value="$(arg direct_astar_time_scale)"/>
    <arg name="local_update_range_x" value="$(arg local_update_range_x)"/>
    <arg name="local_update_range_y" value="$(arg local_update_range_y)"/>
    <arg name="local_update_range_z" value="$(arg local_update_range_z)"/>
    <arg name="max_ray_length" value="$(arg max_ray_length)"/>
    <arg name="astar_pool_size_x" value="$(arg astar_pool_size_x)"/>
    <arg name="astar_pool_size_y" value="$(arg astar_pool_size_y)"/>
    <arg name="astar_pool_size_z" value="$(arg astar_pool_size_z)"/>

    <arg name="point_num" value="1"/>
    <arg name="point0_x" value="$(arg goal_x)"/>
    <arg name="point0_y" value="$(arg goal_y)"/>
    <arg name="point0_z" value="$(arg goal_z)"/>
    <arg name="point1_x" value="0.0"/>
    <arg name="point1_y" value="0.0"/>
    <arg name="point1_z" value="1.0"/>
    <arg name="point2_x" value="0.0"/>
    <arg name="point2_y" value="0.0"/>
    <arg name="point2_z" value="1.0"/>
    <arg name="point3_x" value="0.0"/>
    <arg name="point3_y" value="0.0"/>
    <arg name="point3_z" value="1.0"/>
    <arg name="point4_x" value="0.0"/>
    <arg name="point4_y" value="0.0"/>
    <arg name="point4_z" value="1.0"/>
  </include>

  <param name="/ego_planner_node/manager/astar_test_wall" value="true" type="bool"/>
  <param name="/ego_planner_node/manager/astar_test_scene" value="midterm_global" type="str"/>
  <param name="/ego_planner_node/manager/astar_height" value="0.0" type="double"/>
  <param name="/ego_planner_node/planner/max_line_deviation" value="2.6" type="double"/>
  <param name="/ego_planner_node/planner/max_jump_h" value="0.72" type="double"/>
  <param name="/ego_planner_node/planner/jump_penalty" value="5.5" type="double"/>
  <param name="/ego_planner_node/planner/max_jump_d" value="2.0" type="double"/>
  <param name="/ego_planner_node/planner/jump_takeoff_clearance" value="0.45" type="double"/>
  <param name="/ego_planner_node/planner/jump_landing_clearance" value="0.50" type="double"/>
  <param name="/ego_planner_node/planner/jump_vertical_clearance" value="0.16" type="double"/>
  <param name="/ego_planner_node/planner/line_deviation_weight" value="0.45" type="double"/>
  <param name="/ego_planner_node/planner/frontal_jump_cos" value="0.80" type="double"/>
  <param name="/ego_planner_node/planner/jumpable_detour_penalty" value="5.0" type="double"/>
  <param name="/ego_planner_node/planner/roll_over_height" value="0.15" type="double"/>
  <param name="/ego_planner_node/planner/roll_over_penalty" value="0.5" type="double"/>
  <param name="/ego_planner_node/planner/debug_decisions" value="false" type="bool"/>
  <param name="/ego_planner_node/planner/debug_decision_limit" value="120" type="int"/>
  <param name="/ego_planner_node/planner/use_inflate_for_jump" value="false" type="bool"/>

  <group unless="$(arg astar_only)">
    <node pkg="ego_planner" name="traj_server" type="traj_server" output="screen">
      <remap from="/position_cmd" to="planning/pos_cmd"/>
      <remap from="/odom_world" to="$(arg odom_topic)"/>
      <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>
  </group>

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~goal" to="/move_base_simple/goal"/>
    <remap from="~traj_start_trigger" to="/traj_start_trigger"/>
    <param name="waypoint_type" value="manual-lonely-waypoint"/>
  </node>

  <include file="$(find ego_planner)/launch/low_obstacle_simulator.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="use_control" value="$(arg use_control)"/>
    <arg name="obstacle_scenario" value="midterm_global"/>
    <arg name="sensing_horizon" value="$(arg sensing_horizon)"/>
  </include>

  <group if="$(arg auto_goal)">
    <node pkg="ego_planner" name="publish_fixed_goal" type="publish_fixed_goal.py" output="screen">
      <param name="goal_x" value="$(arg goal_x)"/>
      <param name="goal_y" value="$(arg goal_y)"/>
      <param name="goal_z" value="$(arg goal_z)"/>
      <param name="delay" value="4.0"/>
      <param name="repeat" value="1"/>
      <param name="interval" value="1.0"/>
    </node>
  </group>

  <group if="$(arg use_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="false"/>
  </group>
</launch>
